In [11]:
def print_full_name(fname, lname):
    print("hi there")
    fullname=f"{fname} {lname}"
    print(fullname)

In [10]:
print_full_name("Hossein","Kalbasi")

'Hossein Kalbasi'

In [ ]:
##

In [4]:
carname = "mazda"

In [5]:
color = "red"

In [6]:
f"This {carname} is {color}"

'This mazda is red'

In [8]:
def print_full_name(fname,lname):
    fullname = f"{fname} {lname}"
    return fullname

In [12]:
print_full_name("Python","workshop")

hi there
Python workshop

In [13]:
## for loop

In [14]:
mylist =[1,2,"string",[1,2,5],-9]

In [17]:
for item in mylist:
    print(item)

1
2
string
[1, 2, 5]
-9

In [16]:
mytuple = (1,2,3,4)

In [18]:
mylist = [1,2,3,4]

In [19]:
mylist[0]

1

In [20]:
mylist2 = ['a','b','c']

In [21]:
id(mylist)

140421340816560

In [22]:
mylist2[2]="changed"

In [23]:
id(mylist2)

140421349424816

In [24]:
id(mylist2)

140421349424816

In [25]:
mytuple2=(1,2,3,["a","b"])

In [26]:
mytuple2[3][0]="changed"

In [27]:
mytuple2[3][0]='changed'

In [28]:
id(6)

94472816300960

In [29]:
mylist3 =[1,2,4,6,7]

In [30]:
mylist3.append('appended item')

In [31]:
mylist3

[1, 2, 4, 6, 7, 'appended item']

In [36]:
result = []
for item in [1,2,3,4,5,6]:
    result.append(f"No.{item} - inside for loop")

In [37]:
result

['No.1 - inside for loop',
 'No.2 - inside for loop',
 'No.3 - inside for loop',
 'No.4 - inside for loop',
 'No.5 - inside for loop',
 'No.6 - inside for loop']

In [38]:
import pandas

In [39]:
!conda install pandas -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /encs/pkg/anaconda3-2019.10/root

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.2                |           py37_0         2.8 MB
    openssl-1.1.1d             |       h7b6447c_4         2.5 MB
    pandas-1.0.1               |   py37h0573a6f_0         8.5 MB
    ------------------------------------------------------------
                                           Total:        13.9 MB

The following packages will be UPDATED:

  openssl                                 1.1.1d-h7b6447c_3 --> 1.1.1d-h7b6447c_4
  pandas                               1.0.0-py37h0573a6f_0 --> 1.0.1-py37h0573a6f_0

The following packages will be SUPERSEDED by a higher-priority channel:

  conda                                         conda-forge --> pkgs/main



Downloading and Extracting Packages
conda-4.8.2          | 2.8 MB    | ##################################### | 100%
pandas-1.0.1         | 8.5 MB    | ##################################### | 100%
openssl-1.1.1d       | 2.5 MB    | ##################################### | 100%

InvalidArchiveError("Error with archive /nfs/home/a/a_seinig/.conda/pkgs/openssl-1.1.1d-h7b6447c_49cpo6saf/pkg-openssl-1.1.1d-h7b6447c_4.tar.zst.  You probably need to delete and re-download or re-create this file.  Message from libarchive was:\n\nFailed to create dir 'ssl/misc'")

In [40]:
import pandas as pd

In [41]:
mdictionary = {"name":"Python workshop","organizer":"ECGA","place":"Hall building","city":"montreal"}

In [47]:
event_info= {"name":["Python workshop"],"organizer":["ECGA"],"place":["Hall building"],"city":["montreal"]}

In [45]:
df =pd.DataFrame(event_info)

In [46]:
df

              name organizer          place
0  Python workshop      ECGA  Hall building

In [48]:
df

              name organizer          place
0  Python workshop      ECGA  Hall building

In [49]:
df =pd.DataFrame(event_info)

In [50]:
df

              name organizer          place      city
0  Python workshop      ECGA  Hall building  montreal

In [54]:
mylist4 = [('a',1,'first'),('b',2,'second'),('c',3,'third')]

In [56]:
for letter, number, priority in mylist4:
    print(letter, "-->", number , "-->",priority)

a --> 1 --> first
b --> 2 --> second
c --> 3 --> third

In [57]:
mydict4 ={"name":"python workshop", "place":"EV",'city':'montreal'}

In [58]:
mylist8=[2,3,5,8,9]

In [59]:
mylist8

[2, 3, 5, 8, 9]

In [61]:
mydict4 ={"key":"value,","name":"python workshop", "place":"EV",'city':'montreal'}

In [62]:
mydict4.values()

dict_values(['value,', 'python workshop', 'EV', 'montreal'])

In [63]:
mydict4.keys()

dict_keys(['key', 'name', 'place', 'city'])

In [64]:
mydict4.items()

dict_items([('key', 'value,'), ('name', 'python workshop'), ('place', 'EV'), ('city', 'montreal')])

In [68]:
list_of_dict = [{"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"},
                {"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"},
                {"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"},
                {"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"}
               ]

In [71]:
print_list_of_events =pd.DataFrame(list_of_dict)

In [72]:
print_list_of_events

               name place      city   start
0  python workshop1   EV1  montreal  21 feb
1  python workshop1   EV1  montreal  21 feb
2  python workshop1   EV1  montreal  21 feb
3  python workshop1   EV1  montreal  21 feb

In [73]:
list_of_dict = [{"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"},
                {"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"},
                {"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"},
                {"name":"python workshop1", "place":"EV1","city":"montreal","start":"21 feb"}
               ]

In [4]:
for dict_item in list_of_dict:
    print(dict_item)

NameError: name 'list_of_dict' is not defined